.player-box {
    position: relative;
    cursor: default;
}

.player {
    background-color: white;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player, .player-b {
    height: 10rem;
    width: 8.813rem;
    border: 3px solid black;
    border-radius: 25px;
}

.player-b {
    position: absolute;
    background-color: black;
    z-index: 1;
    bottom: -10px;
}

.player-image {
    height: 59px;
    width: 54px;
    position: absolute;
    top: -28px;
}

.player-score {
    font-size: 3.5rem;
    font-weight: bold;
}