.player-box-1 {
    position: relative;
    cursor: default;
}

.player-box-2 {
    position: relative;
    cursor: default;
}

.player {
    background-color: white;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player, .player-b {
    height: 10rem;
    width: 8.813rem;
    border: 3px solid black;
    border-radius: 25px;
}

.player-b {
    position: absolute;
    background-color: black;
    z-index: 1;
    bottom: -10px;
}

.player-image {
    height: 59px;
    width: 54px;
    position: absolute;
    top: -28px;
}

.player-text {
    font-size : 1.25rem;
    padding-top : 20px;
}

.player-score {
    font-size: 3.5rem;
    font-weight: bold;
}



@media screen and
            (min-height: 813px) and
            (max-height: 1024px) and
            (min-width: 376px) and
            (max-width: 768px){
    .player-box-1 {
        position: absolute;
        top: 110px;
        left: 88px;
    }

    .player-box-1 .player-image {
        top: 20px;
        left: -25px;
    }

    .player-box-1 .player {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .player-text{
        padding-top: unset;
    }

    .player-box-2 {
        position: absolute;
        top: 110px;
        right: 88px;
    }

    .player-box-2 .player-image {
        right: -25px;
        top: 20px;
    }

    .player-box-2 .player {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .player-box-1 > div, .player-box-2 > div{
        width: 17rem;
        height: 6.25rem;
    }
 }

 @media screen and
        (max-width: 375px) and
        (max-height: 812px) {

		.player-box-1, .player-box-2 {
			position: absolute;
			top: 8.5rem;
		}

		.player-box-1{
			left: 32px;
		}

		.player-box-1 .player .player-image{
			left: -25px;
			top: 10px;
		}

		.player-box-2{
			right: 32px;
		}

		.player-box-2 .player .player-image{
			right: -25px;
			top: 10px;
		}


		.player {
			width: 8.875rem;
			height: 5.063rem;
			justify-content: unset;
		}

		.player-b {
			width: 8.875rem;
			height: 5.063rem;
		}

		.player-text {
			padding-top: unset;
			font-weight: bold;
			position: absolute;
			top: 8px;
			font-size: 1rem;
		}

		.player-score {
			font-size: 2.5rem;
			font-weight: bold;
			position: absolute;
			top: 28px;
		}
		
}
