#error-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 2rem;
}

.error-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: inline-block;
    cursor: pointer;
}

.logo:hover{
    height: 91%;
    width: 91%;
    /* background-color: rgba(121,69,255,1) */
}