.game-board-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 57px;
}

.game-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.game-marker {
    z-index: 2;
    position: absolute;
    top: -37px;
}

.game-board-white {
    z-index: 2;
    position: relative;
    pointer-events: none;
}

.game-board-black {
    position: absolute;
    z-index: 1;
    top: 0px;
    pointer-events: none;
}

.game-board-top{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu {
    background-color: hsla(257, 67%, 51%, 1);
    color: white;
    height: 2.438rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
}

.menu:hover {
    background-color: rgb(78, 25, 211);
}

.restart {
    background-color: hsla(257, 67%, 51%, 1);
    color: white;
    height: 2.438rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
}

.restart:hover {
    background-color: rgb(78, 25, 211);
}

.turn-background{
    z-index: 3;
    width: 11.938rem;
    height: 9.375rem;
    position: relative;
    bottom: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.current-player {
    color: white;
    position: relative;
    top: 15px;
}

.game-timer {
    color: white;
    position: relative;
    font-size: 3.5rem;
    font-weight: bold;
}

.cells {
    display: grid;
    position: absolute;
    /* height: 87%;
    width: 98%; */
    /* height: 92%;
    width: 100%; */
    top: 15px;
    height: 87%;
    width: 100%;
    /* top: 15px;
    left: 15px; */
    /* grid-template-areas:
        'row-1'
        'row-2'
        'row-3'
        'row-4'
        'row-5'
        'row-6'; */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* grid-row-gap: 15px; */
    /* grid-column-gap: 0px; */
    justify-content: center;
    align-items: center;
}

.row-1 {
    /* grid-area: row-1; */
    height: 70px;
    width: 75px;
}

.row-2 {
    /* grid-area: row-2; */
    height: 70px;
    width: 75px;
}

.row-3 {
    /* grid-area: row-3; */
    height: 70px;
    width: 75px;
}

.row-4 {
    /* grid-area: row-4; */
    height: 70px;
    width: 75px;
}

.row-5 {
    /* grid-area: row-5; */
    height: 70px;
    width: 75px;
}

.row-6 {
    /* grid-area: row-6; */
    height: 70px;
    width: 75px;
}

/* .cell {
    z-index: 100;
} */

.cell-image {
    user-select: none;
    pointer-events: none;
}

.cell {
    z-index: 2;
}