.pause-menu {
    position: relative;
    background-color: rgba(121,69,255,1);
    bottom: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
}

.pause-menu, .pause-menu-b {
    height: 30.688rem;
    width: 30rem;
    border: 3px solid black;
    border-radius: 40px;
}

.pause-menu-b {
    position: absolute;
    background-color: rgb(0, 0, 0);
    bottom: 10px;
}

.pause {
    color: white;
    font-size: 3.5rem;
}

.pause-continue {
    color: black;
    background-color: rgb(255, 255, 255);
}

.pause-restart {
    color: black;
    background-color: rgb(255, 255, 255);
}

.pause-quit {
    color: white;
    background-color: hsla(347, 97%,70%,1);
    margin-bottom: 20px;
}

.pause-quit, .pause-restart, .pause-continue {
    font-size: 1.5rem;
    height: 4.5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
}

.pause-restart:hover, .pause-continue:hover {
    background-color: rgb(230, 227, 227);
}

.pause-quit:hover {
    background-color: rgb(249, 88, 123);
}


.pause-continue-b, .pause-restart-b, .pause-quit-b {
    position: absolute;
    height: 4.5rem;
    width: 25rem;
    background-color: black;
    border: 3px solid black;
    border-radius: 30px;
}

.pause-continue-b{
    top: 150px;
}

.pause-restart-b{
    bottom: 150px;
}

.pause-quit-b{
    bottom: 40px;
}


@media screen and
        (max-width: 375px) and
        (max-height: 812px) {

		.pause-menu, .pause-menu-b {
			font-weight: bold;
			width: 20.938rem;
			height: 27.313rem;
		}

		.pause-menu {
			bottom: 4px;
		}

		.pause-menu-b {
			bottom: -6px;
		}

		.pause-quit, .pause-restart, .pause-continue,
		.pause-continue-b, .pause-restart-b, .pause-quit-b {
			width: 18.438rem;
			height: 4.5rem;
			border-radius: 20px;
		}

		.pause-quit{
			margin-bottom: unset;
		}

		.pause-continue-b {
			top: 132px;
		}

		.pause-restart-b {
			bottom: 122px;
		}

		.pause-quit-b {
			bottom: 18px;
		}
}
