@font-face {
  font-family: space-grotesk;
  src: url('../src/assets/fonts/static/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: space-grotesk;
  src: url('../src/assets/fonts/static/SpaceGrotesk-Bold.ttf');
  font-weight: bold;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(257, 67%, 51%, 1);
  font-family: space-grotesk;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
